$white: #fff;
$black: #000;
$gray: #888888;
$backgroundColor: #f7f6f6;
$inputColor: #c4c4c4;
$orderColor: #cacdd8;
$orderInputColor: #9c9c9c;
$newPriceColor: #050505;

$tablet: 1024px;
$mobile: 767px;
