* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes moveBtn {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes moveBtn {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  border-radius: 20px;
}

.input:focus {
  outline: none;
}

.input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.input::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
}

.input::placeholder {
  color: #fff;
  font-size: 16px;
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

.header {
  padding: 18px 15px;
  margin-bottom: 44px;
}

@media (max-width: 1024px) {
  .header {
    padding: 18px 24px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 51px 18px 48px;
    margin-bottom: 0;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 0 0 18px;
}

@media (max-width: 767px) {
  .header .container {
    border-bottom: 1px solid transparent;
    padding: 0;
  }
}

.header__input {
  background-color: transparent;
  border: 1px solid #fff;
  min-width: 288px;
  padding: 10px 32px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: -webkit-box-shadow .3s linear;
  transition: -webkit-box-shadow .3s linear;
  transition: box-shadow .3s linear;
  transition: box-shadow .3s linear, -webkit-box-shadow .3s linear;
}

.header__input:hover, .header__input:focus {
  -webkit-box-shadow: 0 0 8px #fff;
          box-shadow: 0 0 8px #fff;
}

@media (max-width: 767px) {
  .header__input {
    display: none;
  }
}

.header__input-btn {
  display: none;
}

@media (max-width: 767px) {
  .header__input-btn {
    background: transparent;
    border: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__logo {
  line-height: 0;
}

.header__logo:hover {
  -webkit-animation: logo 1s ease 0s 1 normal none;
          animation: logo 1s ease 0s 1 normal none;
}

@media (max-width: 767px) {
  .header__logo img {
    width: 96px;
  }
}

@media (max-width: 767px) {
  .header__search {
    margin-left: auto;
    margin-right: 27px;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color .3s linear;
  transition: border-color .3s linear;
}

.navigation__link:hover {
  border-bottom: 1px solid #fff;
}

.navigation__link.link_desktop {
  display: block;
}

@media (max-width: 767px) {
  .navigation__link.link_desktop {
    display: none;
  }
}

.navigation__link.link_mobile {
  display: none;
}

@media (max-width: 767px) {
  .navigation__link.link_mobile {
    line-height: 0;
    width: 25px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation__item {
  margin-right: 33px;
}

@media (max-width: 767px) {
  .navigation__item {
    margin-right: 27px;
  }
}

.navigation__item:last-child {
  margin-right: 0;
}

.banner {
  margin-bottom: 64px;
  background-image: url("../media/header.jpg");
  min-height: 735px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1024px) {
  .banner {
    background-image: url("../media/header-tablet.jpg");
  }
}

@media (max-width: 767px) {
  .banner {
    background-image: url("../media/header-mobile.jpg");
    margin-bottom: 32px;
  }
}

.banner__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 17px;
  max-width: 752px;
  color: #fff;
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
  }
}

.banner__text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #fff;
}

@media (max-width: 767px) {
  .banner__text {
    font-size: 16px;
    text-align: center;
  }
}

.banner__link {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color .3s linear;
  transition: border-color .3s linear;
}

.banner__link:hover {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
  .banner__link {
    font-size: 14px;
    text-align: center;
    display: block;
  }
}

/*special-offers__link*/
.special-offers {
  margin-bottom: 73px;
}

@media (max-width: 1024px) {
  .special-offers {
    margin-bottom: 65px;
  }
}

@media (max-width: 767px) {
  .special-offers {
    margin-bottom: 39px;
  }
}

.special-offers__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .special-offers__title {
    font-size: 24px;
    line-height: 29px;
  }
}

.special-offers__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 55px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .special-offers__wrap {
    row-gap: 38px;
  }
}

@media (max-width: 767px) {
  .special-offers__wrap {
    row-gap: 34px;
  }
}

.special-offers__wrap-image {
  max-height: 250px;
  margin-bottom: 10px;
  overflow: hidden;
  line-height: 0;
}

@media (max-width: 767px) {
  .special-offers__wrap-image {
    margin-bottom: 8px;
  }
}

.special-offers__wrap-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 34px;
          column-gap: 34px;
}

.special-offers__new-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

@media (max-width: 767px) {
  .special-offers__new-price {
    font-size: 18px;
    line-height: 21px;
  }
}

.special-offers__old-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

@media (max-width: 767px) {
  .special-offers__old-price {
    font-size: 18px;
    line-height: 21px;
  }
}

.special-offers__link {
  display: inline-block;
  width: calc((100% - 64px) / 3);
  -webkit-transition: top .3s linear;
  transition: top .3s linear;
  position: relative;
  top: 0;
}

.special-offers__link:hover {
  top: -10px;
}

.special-offers__link:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1024px) {
  .special-offers__link {
    width: calc((100% - 32px) / 2);
  }
}

@media (max-width: 767px) {
  .special-offers__link {
    width: 100%;
  }
}

.special-offers__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 1, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.special-offers__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .special-offers__name {
    font-size: 18px;
    line-height: 21px;
  }
}

.special-offers__description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .special-offers__description {
    margin-bottom: 9px;
  }
}

/*catalog*/
.catalog {
  margin-bottom: 64px;
}

@media (max-width: 767px) {
  .catalog {
    margin-bottom: 32px;
  }
}

.catalog__price {
  color: #050505;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 767px) {
  .catalog__price {
    font-size: 18px;
    line-height: 21px;
  }
}

.catalog__link {
  color: #000;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  margin-top: 40px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color .3s linear;
  transition: border-color .3s linear;
}

.catalog__link:hover {
  border-bottom: 1px solid #000;
}

.catalog .special-offers__wrap-image {
  position: relative;
}

.catalog__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 21px;
          column-gap: 21px;
  position: absolute;
  right: 9px;
  top: 9px;
}

.catalog__btns button {
  background-color: transparent;
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*footer*/
.footer {
  background-color: #F7F6F6;
  padding-top: 31px;
  padding-bottom: 44px;
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 33px;
  }
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1024px) {
  .footer .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .footer .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 32px;
  }
}

.footer__wrap-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1024px) {
  .footer__wrap-menu {
    -webkit-column-gap: 39px;
            column-gap: 39px;
  }
}

@media (max-width: 767px) {
  .footer__wrap-menu {
    -webkit-column-gap: 12px;
            column-gap: 12px;
  }
}

.footer__logo {
  display: inline-block;
  margin-top: 8px;
}

.footer__logo:hover {
  -webkit-animation: logo 1s ease 0s 1 normal none;
          animation: logo 1s ease 0s 1 normal none;
}

.footer__logo .image {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: -webkit-filter .3s linear;
  transition: -webkit-filter .3s linear;
  transition: filter .3s linear;
  transition: filter .3s linear, -webkit-filter .3s linear;
}

@media (max-width: 1024px) {
  .footer__logo {
    display: none;
  }
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 12px;
}

.footer .menu__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color .3s linear;
  transition: border-color .3s linear;
}

.footer .menu__link:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

.footer .contact__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

@media (max-width: 1024px) {
  .footer__social {
    margin-top: 16px;
  }
}

.footer .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social__link path {
  -webkit-transition: fill .3s linear;
  transition: fill .3s linear;
}

.footer .social__link:hover path {
  fill: #000;
}

.footer__text {
  font-size: 12px;
  line-height: 14px;
  color: #000;
  margin-bottom: 16px;
}

.footer__form {
  max-width: 276px;
  width: 100%;
  margin-left: auto;
}

@media (max-width: 1024px) {
  .footer__form {
    max-width: 268px;
  }
}

@media (max-width: 767px) {
  .footer__form {
    margin: 0 auto;
  }
}

.footer .form__input {
  background: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  padding: 13px 25px;
  width: 100%;
  -webkit-transition: -webkit-box-shadow .3s linear;
  transition: -webkit-box-shadow .3s linear;
  transition: box-shadow .3s linear;
  transition: box-shadow .3s linear, -webkit-box-shadow .3s linear;
}

.footer .form__input:hover, .footer .form__input:focus {
  -webkit-box-shadow: 0 0 8px #C4C4C4;
          box-shadow: 0 0 8px #C4C4C4;
}

.footer .form__input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer .form__input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer .form__input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer .form__input::placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer .btn_subscribe {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #fff;
  border-radius: 20px;
  display: block;
  max-width: 275px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  margin-top: 13px;
  padding: 13px;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.footer .btn_subscribe:hover {
  background-color: #000;
  color: #fff;
}

/*furniture*/
.furniture {
  margin-bottom: 64px;
}

@media (max-width: 767px) {
  .furniture {
    margin-bottom: 33px;
  }
}

.furniture__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}

@media (max-width: 767px) {
  .furniture__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 17px;
  }
}

.furniture__link {
  min-height: 415px;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 42px;
  font-weight: 600;
  grid-column: span 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-size .3s linear;
  transition: background-size .3s linear;
  background-size: 105%;
}

.furniture__link:hover {
  background-size: 120%;
}

@media (max-width: 1024px) {
  .furniture__link {
    min-height: 268px;
  }
}

@media (max-width: 767px) {
  .furniture__link {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    min-height: 374px;
    font-size: 28px;
    line-height: 34px;
  }
}

.furniture__link:nth-of-type(1) {
  background-image: url("../media/for/f-1.jpg");
}

.furniture__link:nth-of-type(2) {
  background-image: url("../media/for/f-2.jpg");
}

.furniture__link:nth-of-type(3) {
  background-image: url("../media/for/f-3.jpg");
}

.furniture__link:nth-of-type(4) {
  background-image: url("../media/for/f-4.jpg");
}

.furniture__link:nth-of-type(5) {
  background-image: url("../media/for/f-5.jpg");
}

.furniture_big {
  grid-column: span 3;
}

@media (max-width: 767px) {
  .furniture_big {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    min-height: 243px;
  }
}

/*breadcrumb*/
.breadcrumb {
  margin-bottom: 32px;
}

.breadcrumb .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 767px) {
  .breadcrumb .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 15px;
  }
}

.breadcrumb__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb__item {
  color: #000;
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 767px) {
  .breadcrumb__item {
    font-size: 14px;
  }
}

.breadcrumb__link {
  color: #000;
  font-size: 16px;
  line-height: 32px;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.breadcrumb__link:hover {
  color: #888888;
}

.breadcrumb__link::after {
  content: '/';
  font-size: 16px;
  line-height: 32px;
  margin: 0 10px;
  display: inline-block;
  color: #000;
}

@media (max-width: 767px) {
  .breadcrumb__link {
    font-size: 14px;
  }
}

.breadcrumb__order {
  display: block;
  max-width: 288px;
  width: 100%;
  margin-left: auto;
  position: relative;
}

.breadcrumb__order::before {
  content: '';
  border: 9px solid transparent;
  border-top: 8px solid #000;
  position: absolute;
  right: 21px;
  top: 17px;
}

@media (max-width: 767px) {
  .breadcrumb__order {
    margin-left: 0;
  }
}

.breadcrumb__order select {
  padding: 11px 14px 10px;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.breadcrumb__order select::-ms-expand {
  /* IE */
  display: none;
}

@media (max-width: 767px) {
  .breadcrumb__order select {
    font-size: 14px;
  }
}

/*banners*/
.banner_catalog {
  background-image: url("../media/catalog/catalog.jpg");
  min-height: 400px;
}

@media (max-width: 767px) {
  .banner_catalog {
    background-image: url("../media/catalog/catalog-mobile.jpg");
  }
}

.banner_catalog .header {
  margin-bottom: 108px;
}

@media (max-width: 767px) {
  .banner_catalog .header {
    margin-bottom: 52px;
  }
}

.banner_cart {
  background-image: url("../media/cart/cart.jpg");
  min-height: 400px;
}

@media (max-width: 767px) {
  .banner_cart {
    background-image: url("../media/cart/cart-mobile.jpg");
    margin-bottom: 90px;
  }
}

.banner_cart .header {
  margin-bottom: 108px;
}

@media (max-width: 767px) {
  .banner_cart .header {
    margin-bottom: 52px;
  }
}

/*cart*/
.cart {
  margin-bottom: 64px;
}

@media (max-width: 767px) {
  .cart {
    margin-bottom: 46px;
  }
}

.cart .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 31%;
      grid-template-columns: 1fr 31%;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

@media (max-width: 1024px) {
  .cart .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 65px;
  }
}

@media (max-width: 767px) {
  .cart .container {
    row-gap: 49px;
  }
}

@media (max-width: 1024px) {
  .cart__orders {
    padding-top: 2px;
  }
}

.cart__heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 72px;
      grid-template-columns: 1fr 72px;
  margin-bottom: 14px;
}

@media (max-width: 1024px) {
  .cart__heading {
    -ms-grid-columns: 1fr 70px;
        grid-template-columns: 1fr 70px;
  }
}

@media (max-width: 767px) {
  .cart__heading {
    display: none;
  }
}

.cart .order {
  border-top: 0.5px solid #CACDD8;
  padding: 25px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 173px 1fr 78px;
      grid-template-columns: 173px 1fr 78px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1024px) {
  .cart .order {
    -ms-grid-columns: 173px 1fr 64px;
        grid-template-columns: 173px 1fr 64px;
  }
}

@media (max-width: 767px) {
  .cart .order {
    -ms-grid-columns: 1fr 71px;
        grid-template-columns: 1fr 71px;
    padding: 17px 0;
    margin-bottom: 13px;
  }
  .cart .order:last-of-type {
    margin-bottom: 0;
  }
}

.cart .order__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 14px;
  color: #000;
}

@media (max-width: 767px) {
  .cart .order__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
  }
}

.cart .order p.order__info {
  color: #888888;
  font-size: 14px;
  line-height: 17px;
  max-width: 275px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .cart .order p.order__info {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 17px;
  }
}

.cart .order__price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 22px;
}

@media (max-width: 767px) {
  .cart .order__price {
    font-size: 12px;
    line-height: 14px;
  }
}

.cart .order__wrap-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 31px;
          column-gap: 31px;
}

.cart .order__link {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  border-bottom: 1px solid #000;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.cart .order__link:hover {
  border-bottom: 1px solid transparent;
  color: #888888;
}

.cart .order__wrap {
  position: relative;
  width: 100%;
}

.cart .order__wrap::before {
  content: '';
  display: block;
  padding-top: 100%;
}

@media (max-width: 767px) {
  .cart .order__wrap {
    display: none;
  }
}

.cart .order__wrap img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__input-count {
  width: 100%;
  border: none;
  background: #F7F6F6;
  color: #000;
  font-size: 14px;
  line-height: 37px;
  border-radius: 6px;
  padding: 7px 19px;
  font-weight: 600;
  -webkit-transition: -webkit-box-shadow .3s linear;
  transition: -webkit-box-shadow .3s linear;
  transition: box-shadow .3s linear;
  transition: box-shadow .3s linear, -webkit-box-shadow .3s linear;
}

.cart__input-count:hover, .cart__input-count:focus {
  -webkit-box-shadow: 0 0 8px #9c9c9c;
          box-shadow: 0 0 8px #9c9c9c;
}

.cart__wrap-link {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

@media (max-width: 1024px) {
  .cart__wrap-link {
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .cart__wrap-link {
    margin-top: 22px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

.cart__link {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50px;
  padding: 9px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.cart__link:hover {
  color: #fff;
  background-color: #000;
}

@media (max-width: 767px) {
  .cart__link {
    font-size: 12px;
    line-height: 14px;
    padding: 10px;
  }
}

.cart div.cart__info {
  background: #F7F6F6;
  border-radius: 20px;
  padding: 38px 28px;
}

@media (max-width: 1024px) {
  .cart div.cart__info {
    max-width: 378px;
    padding: 41px 28px 60px;
  }
}

.cart__info-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 35px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.cart__form {
  display: -ms-grid;
  display: grid;
}

.cart__form .cart__link {
  max-width: 290px;
  background: #fff;
  font-size: 16px;
  line-height: 21px;
  margin: 0 auto;
  cursor: pointer;
  display: block;
}

.cart__form .cart__link:hover {
  background-color: #000;
  -webkit-animation: moveBtn 2s ease 0s 1 normal none;
          animation: moveBtn 2s ease 0s 1 normal none;
}

@media (max-width: 767px) {
  .cart__form .cart__link {
    line-height: 19px;
  }
}

.cart__input {
  border: none;
  border-bottom: 1px solid #CACDD8;
  padding: 2px 0;
  color: #000;
  font-size: 14px;
  line-height: 17px;
  background: transparent;
  border-radius: 0;
  margin-bottom: 39px;
  -webkit-transition: border-color .3s linear;
  transition: border-color .3s linear;
}

.cart__input::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
  line-height: 17px;
}

.cart__input:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
  line-height: 17px;
}

.cart__input::-ms-input-placeholder {
  color: #000;
  font-size: 14px;
  line-height: 17px;
}

.cart__input::placeholder {
  color: #000;
  font-size: 14px;
  line-height: 17px;
}

.cart__input:hover, .cart__input:focus {
  border-bottom: 1px solid #000;
}

.cart__coast {
  color: #000;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 19px;
}

@media (max-width: 767px) {
  .cart__coast {
    margin-bottom: 17px;
  }
}

.cart__coast .count {
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */