$colorPrimary: #000;
$colorSecondary: #fff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100vh;
  position: relative;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $colorPrimary;
    border: none;
    color: $colorSecondary;
    font-size: 20px;
    padding: 20px;
  }
}
